<!DOCTYPE html>
<html>
<head>
  <title>JspmRails</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <% if Rails.env.production? %>
    <script src="/jspm_packages/traceur-runtime.js"></script>
    <script src="<%= require 'build_directory'; BuildDirectory.url_for "main.js" %>"></script>
  <% else %>
    <script src="/jspm_packages/system.js"></script>
    <script src="/js/config.js"></script>
    <script>
      System.import('js/lib/views.jsx!');
      System.import('js/lib/main');
    </script>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
